<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.joymadhu.sirocco.helper</string>
	<key>BundleProgram</key>
	<string>Contents/MacOS/SiroccoHelper</string>
	<key>MachServices</key>
	<dict>
		<key>com.joymadhu.sirocco.helper</key>
		<true/>
	</dict>
	<key>AssociatedBundleIdentifiers</key>
	<array>
		<string>com.joymadhu.Sirocco</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/Library/Logs/Sirocco.log</string>
</dict>
</plist>
